@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #141524;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#__next > main {
  flex: 1;
}

body {
  /* or body[home=true] ? */
  background-image: url("/images/bg-1.svg"), url("/images/bg-2.svg");
  background-position: right top, left 500px;
  background-repeat: no-repeat, no-repeat;
}
